<!-- Chatbot template -->
<!DOCTYPE html>
<html lang="en">
<!-- Create a header, add style and script link -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<!-- Create a layout for the chatbox and button -->
<body>
    <div class="chat-container">
        <div class="title">Chatbot</div>
        <div class="box" id="box">
            <div class="replies bot-replies">How may I help you?</div>
        </div>
        <div class="button-container">
            <input type="text" id="user-text" class="user-text" placeholder="Message" />
            <button onclick="sendReplies()"> Send</button>
        </div>
    </div>
</body>
</html>

